
.form-control {
    border-radius: 96px;
    box-shadow: none;
    padding-top: 7px;
    /* border-color: #3968c5; */
    width: 351px;
    height: 41px;
    /* margin: 68px 755px 59px 148px; */
    padding: 13px 34.7px 15px 35px;
    border-radius: -1px;
    box-shadow: 9px 8px 15px 0 var(--greyish-16);
    background-color: #fff;
}
.search_button {
    margin-top: 85px;
    margin-left: -121px;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #15354a;
}

.content-wrapper {
    min-height: 100%;
    background-color: rgb(255 255 255);
    z-index: 800;
}

.skin-blue .main-header .logo {
    background-color: rgb(255 255 255);
    color: #fff;
    
}

.sidebar {
    color: rgb(13 39 52);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    bottom: -196px;
}
